<!DOCTYPE html>
<html>
<head>
    <title>Sustainize</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Megrim:300,400,700' rel='stylesheet' type='text/css'>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load("jquery", "3.1.1");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>
<body>
    
<div class="slider">
      <div class="slide active-slide">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>What Is Social Entrepreneurship?</h1>
              <p>Most of us have heard this term before, maybe we’ve read about it or met someone who talked about it, it’s been around for some time but remains an obscure concept for many. So what is social entrepreneurship? We’ve tried to put together a broad and generic definition to simplify the understanding of this growing concept.</p>
              <a class="btn" href="http://www.sustainize.com/pages/what_is_social_entrepreneurship">Read our take on it</a>
            </div>
          </div>
        </div>      
      </div>         
      <div class="slide slide-feature1">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>5 Reasons Why You Should Become A Social Entrepreneur</h1>
              <p>Social entrepreneurship is probably the best way to create a business currently and that explains the fantastic growth that it is experiencing. But why should you become a social entrepreneur? Is there more to it than a combination of go-to-market approach and sustainability? Here are five inspiring reasons.</p>
              <a class="btn" href="http://www.sustainize.com/pages/five_reasons_why_you_should_become_a_social_entrepreneur">Discover 5 inspiring reasons</a>
            </div>
          </div>
        </div>      
      </div> 
      <div class="slide slide-feature2">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Making A Living And A Difference</h1>
              <p>Read how I pursued my dream to make a difference in other people's lives through social work and didn't give up on being able to live of it.</p>
              <a class="btn" href="#" role="button">An ambitious journey</a>
            </div>
          </div>
        </div>      
      </div> 
    </div>
<div class="slider-nav">
      <a class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
</div> 

<div class="container">
    <div class="articles">
    <div class="article1">
    <h3><a href="">A Tower Made Of Stones</a></h3>
    </div>
    <div class="article2">    
    <h3><a href="">A Guy In Hong Kong's Streets</a></h3>
    </div>
    <div class="article3">    
    <h3><a href="">Ladies Who Are Smiling And Happy</a></h3>
    </div>
    <div class="article4">    
    <h3><a href="">Woman Working Hard To Reach Her Dreams</a></h3>
    </div>
</div></div>
</body>
</html>
